.error-text {
  text-align: center;
  color: red;
  font-size: 1.2rem;
}

.info-text {
  font-size: 1.4rem;
  text-align: left;
}

.close-btn {
  cursor: pointer;
  font-size: 2rem;
}

h1 {
  font-weight: 200;
  text-align: center;
  font-size: 8rem;
}