// COLORS

// $color-primary: #fe4536;
$color-primary: #fe675b;
$color-blend: #fe6011;
// $color-secondary: #fea736;
$color-secondary: #feb75b;
$color-black: #333;
$color-gray: #808080;
$color-black-logo: #464646;

// BACKGROUNDS

$bg-linear: linear-gradient(
  to right,
  $color-blend,
  $color-primary,
  $color-blend
);